html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    color: #6e7660;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: 0.01em;
    line-height: 1.6;
}
p {
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    letter-spacing: -0.1rem;
    margin-bottom: 2.4rem;
    margin-top: 0;
}
h1 {
    font-size: 4.6rem;
    line-height: 1.2;
}
h2 {
    font-size: 3.6rem;
    line-height: 1.25;
}
h3 {
    font-size: 2.8rem;
    line-height: 1.3;
}
h4 {
    font-size: 2.2rem;
    letter-spacing: -0.08rem;
    line-height: 1.35;
}
h5 {
    font-size: 1.8rem;
    letter-spacing: -0.05rem;
    line-height: 1.5;
}
h6 {
    font-size: 1.6rem;
    letter-spacing: 0;
    line-height: 1.4;
}

.wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    .container {
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
    }
}
.container {
    margin: 0 auto;
    max-width: 80rem;
    padding: 0 2rem;
    position: relative;
    width: 100%;
    background: #f7f7f7;
}
.button {
    background-color: #9137ad;
    border: 0.1rem solid #9137ad;
    border-radius: 0.4rem;
    color: #fff;
    display: inline-block;
    height: 4rem;
    padding: 0 4rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    line-height: 4rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
}
.button--outline {
    background-color: transparent;
    border: 0.1rem solid #9137ad;
    color: #9137ad;
}
.button--transparent {
    background-color: transparent;
    border: 0.1rem solid transparent;
    color: #9137ad;
}
.tag {
    display: inline-block;
    font-size: 1rem;
    color: white;
    padding: 0 2rem;
    margin: 0 0.4rem;
    background-color: #9137ad;
    border: 0.1rem solid #9137ad;
    border-radius: 1rem;
}
.tag--outline {
    background-color: transparent;
    border: 0.1rem solid #9137ad;
    color: #9137ad;
}
.tag--transparent {
    background-color: transparent;
    border: 0.1rem solid transparent;
    color: #9137ad;
}
.card {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 26rem;
    margin: 1.6rem;
    padding: 2.4rem;
    background-color: white;
    border-radius: 0.4rem;
    .card--heading {
        font-weight: 700;
        text-align: center;
    }
    .card--caption {
        font-size: 1.1rem;
        font-weight: 700;
        text-align: center;
    }
    .card--text {
        font-size: 1.2rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 2.4rem;
    }
}
.card--auto-height {
    height: auto;
}

.text-align-center {
    text-align: center;
}
